@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$isle-app-primary-light: mat-palette($mat-blue, 800, A200, 900);
$isle-app-primary-dark: mat-palette($mat-blue, 500, A200, 800);
$isle-app-accent: mat-palette($mat-cyan, 300, A100, 700);

// The warn palette is optional (defaults to red).
$isle-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$isle-app-theme-dark: mat-dark-theme($isle-app-primary-dark, $isle-app-accent, $isle-app-warn);
$isle-app-theme-light: mat-light-theme($isle-app-primary-light, $isle-app-accent, $isle-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.light-theme {
  @include angular-material-theme($isle-app-theme-light);
}

.dark-theme {
  @include angular-material-theme($isle-app-theme-dark);
}
