.mat-card {
  padding: 0;
}

.card-body {
  padding: 24px;
}

.reply {
  overflow: hidden;
  max-width: 900px !important;
}

.full-width {
  width: 100%;
}

.indicator-bar {
  width: 15px;
}

.topBorder {
  margin-top: 40px;
}

#children {
  width: 100%
}

.sentiment {
  transform: scale(2);
  margin-top: 12px;
  margin-left: 12px;
}

.sentiment-container {
  position: absolute;
}
