<mat-card fxLayout="row">
  <div class="sentiment-container" *ngIf="content.sentiment !== undefined" [style.color]="depthToColor()">
    <mat-icon class="sentiment" *ngIf="content.sentiment > 0" svgIcon="sentiment_positive"></mat-icon>
    <mat-icon class="sentiment" *ngIf="content.sentiment == 0" svgIcon="sentiment_neutral"></mat-icon>
    <mat-icon class="sentiment" *ngIf="content.sentiment < 0" svgIcon="sentiment_negative"></mat-icon>
  </div>
  <div class="depth-indicator indicator-bar" [style.backgroundColor]="depthToColor()" *ngIf="depth > 0"></div>
  <div class="card-body" fxLayout="column" fxFlex>
    <mat-card-title *ngIf="content.title">{{content?.title}}</mat-card-title>
    <div fxLayout="row" class="primary-content">
      <div fxLayout="column" fxFlex>
        <div class="content-body" fxFlex [innerHTML]="content.body | MarkdownToHtml">
        </div>
        <div fxLayout="row" fxFlex class="minor-content mat-caption">
          <div fxLayout="column" fxFlex="100">
            <div class="posted-by" fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="">
                Posted by&nbsp;
                <b>{{content.poster.name}}</b>
                <br fxHide.gt-xs/>
                &nbsp;{{content.posted | timeAgo}}
                —&nbsp;<b>{{content.reputation}}</b>&nbsp;points
              </div>
            </div>
            <div class="actions" fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button (click)="expandReply()">
                <mat-icon aria-label="Reply to comment">reply</mat-icon>
              </button>
            </div>
            <div class="reply" fxLayout="column" fxLayoutAlign="center start" [@toggleReply]="replyState">
              <td-text-editor [(value)]="reply.body" [options]="replyFieldOptions" class="full-width"></td-text-editor>
              <div class="comment-action full-width" fxLayout="row" fxLayoutAlign="start center">
                <mat-button-toggle-group #sentiment="matButtonToggleGroup" [(value)]="reply.sentiment">
                  <mat-button-toggle value="1">
                    <mat-icon>add_circle</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="0">
                    <mat-icon>fiber_manual_record</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="-1">
                    <mat-icon>remove_circle</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
                <span fxFlex></span>
                <button mat-button color="warn" (click)="collapseReply()">Cancel</button>
                <button mat-button color="primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rep-indicator indicator-bar" [style.backgroundColor]="repToColor()" [style.opacity]="repToOpacity()"></div>
</mat-card>
<div fxLayout="row" fxLayoutAlign=" start" [class]="depth == 0 ? 'topBorder' : ''">
  <div style="width: 15px" *ngIf="depth > 0"></div>
  <div id="children" fxLayout="column">
    <app-content-node *ngFor="let child of content.children" [content]="child" [depth]="depth + 1"></app-content-node>
  </div>
</div>
