<mat-card fxLayout="row">
  <div class="depth-indicator indicator-bar" [style.backgroundColor]="depthToColor()" *ngIf="depth != 0" fxFlex="1"></div>
  <div class="card-body" fxLayout="column" fxFlex>
    <mat-card-title *ngIf="content.title">{{content?.title}}</mat-card-title>
    <div fxLayout="row" class="primary-content">
      <div fxLayout="column" fxFlex>
        <div class="content-body" fxFlex [innerHTML]="content.body | MarkdownToHtml">
        </div>
        <div fxLayout="row" class="minor-content mat-caption">
          <div fxLayout="column">
            <div class="posted-by" fxLayout="row" fxLayoutAlign="start center">
              <div class="sentiment" fxLayoutAlign="center center" *ngIf="content.sentiment !== undefined">
                <mat-icon *ngIf="content.sentiment > 0">add_circle</mat-icon>
                <mat-icon *ngIf="content.sentiment == 0">fiber_manual_record</mat-icon>
                <mat-icon *ngIf="content.sentiment < 0">remove_circle</mat-icon>
              </div>
              Posted by <b>{{content.poster.name + " "}}</b>{{content.posted | timeAgo}}  —  <b>{{content.reputation}}</b> points
            </div>
            <div class="actions" fxLayout="row" fxLayoutAlign="start center">
              <button mat-icon-button>
                <mat-icon aria-label="Reply to comment">reply</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rep-indicator indicator-bar" [style.backgroundColor]="repToColor()" fxFlex="1"></div>
</mat-card>
<div fxLayout="row" fxLayoutAlign=" start">
  <div fxFlex="1"></div>
  <div id="children" fxLayout="column" style="width: 100%">
    <app-content-node *ngFor="let child of content.children" [content]="child" [depth]="depth + 1"></app-content-node>
  </div>
</div>
