.mat-card {
  padding: 0;
}

.card-body {
  padding: 24px;
}

.sentiment-spacer {
  margin-left: 10px;
  margin-right: 10px;
}

.reply {
  overflow: hidden;
  max-width: 900px !important;
}

.full-width {
  width: 100%;
}
