#google {
    border: 1px solid #95989A;
    background: #fff  url('/assets/images/google.svg') no-repeat 25px;
    background-size: 25px;
}

#email {
    background: #ECECEC  url('/assets/images/email.svg') no-repeat 25px;
    background-size: 25px;
}

#login-container {
  min-height: 100%;
  background-image: url('/assets/images/golden-gate-bw.jpg');
  background-size: cover;

  .login-card {
    padding: 0 !important;
    min-width: 20em;
    margin-left: auto;
    margin-right: auto;

    .mat-card-content {
      padding: 16px;
    }

    .login {
      display: flex;
      flex-direction: column;

      button {
        margin-left: auto;
        width: 50%;
      }

      * {
        width: 100%;
      }
    }
  }
}

.mat-dialog-container {
  padding: 0px !important;
}

