
<div class="mat-typography" id="full-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="md-24" >menu</mat-icon>
    </button>
    <span>Isle</span> <!-- App Name Here -->
    <span class="spacer"></span>
    <button mat-icon-button (click)="onSetTheme('light-theme')" *ngIf="isDarkMode">
      <mat-icon class="icon">wb_sunny</mat-icon>
    </button>
    <button mat-icon-button (click)="onSetTheme('dark-theme')" *ngIf="!isDarkMode">
      <mat-icon class="icon">hotel</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="{{navMode}}" class="mat-elevation-z8">
      <!-- sidenav content -->
      <!--<app-sidenav></app-sidenav>-->
    </mat-sidenav>

    <app-post></app-post>

    <!-- primary content -->
    <router-outlet></router-outlet>

  </mat-sidenav-container>
</div>
